<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="houseMapper">

	<resultMap id="houseResultSet" type="house">
		<result column="HOUSE_NO" property="houseNo"/>
		<result column="AGENT_NO" property="agentNo"/>
		<result column="TITLE" property="title"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="THUMBNAIL" property="thumbnail"/>
		<result column="SALES_TYPE" property="salesType"/>
		<result column="ADDRESS1" property="address1"/>
		<result column="ADDRESS2" property="address2"/>
		<result column="ZIP_CODE" property="zipCode"/>
		<result column="BUILDING_TYPE" property="buildingType"/>
		<result column="BUILDING_FLOOR" property="buildingFloor"/>
		<result column="SUBWAY_NO" property="subwayNo"/>
		<result column="DEPOSIT" property="deposit"/>
		<result column="MONTHLY_COST" property="monthlyCost"/>
		<result column="MANAGE_COST" property="manageCost"/>
		<result column="FLOOR" property="floor"/>
		<result column="ROOM_TYPE" property="roomType"/>
		<result column="ROOM_COUNT" property="roomCount"/>
		<result column="DIRECTION" property="direction"/>
		<result column="PARKING" property="parking"/>
		<result column="LAT" property="lat"/>
		<result column="LNG" property="lng"/>
		<result column="SIZE_M2" property="size_m2"/>
		<result column="SIZE_P" property="size_p"/>
		<result column="PET" property="pet"/>
		<result column="LOAN" property="loan"/>
		<result column="MOVEIN_DATE" property="moveinDate"/>
		<result column="STATUS" property="status"/>
		<result column="REG_DATE" property="regDate"/>
		<result column="VIEW_COUNT" property="viewCount"/>
		<result column="REPORT_COUNT" property="reportCount"/>
		<result column="SALES_STATUS" property="salesStatus"/>
		<result column="AGENT_NAME" property="agentName" />
		<result column="MANAGE_INFO" property="manageInfo" />
		<result column="OPTION_INFO" property="optionInfo" />
		<result column="LINE" property="line" />
		<result column="STATION" property="station" />
	</resultMap>
	
	<resultMap id="manageResultSet" type="manage">
		<result column="MANAGE_NO" property="manageNo" />
		<result column="MANAGE_NAME" property="manageName" />
	</resultMap>
	
	<resultMap id="optionResultSet" type="option">
		<result column="OPTION_NO" property="optionNo" />
		<result column="OPTION_NAME" property="optionName" />
	</resultMap>
	
	<resultMap id="subwayResultSet" type="subway">
		<result column="SUBWAY_NO" property="subwayNo" />
		<result column="STATION" property="station" />
	</resultMap>
	

	<!-- 업체회원 관련 SQL 시작 : 박민규 -->
	
	<!-- agent 내 매물 조회용 -->
	<select id="selectHouseList" parameterType="_int" resultMap="houseResultSet">
		SELECT HOUSE_NO, TITLE, THUMBNAIL, ADDRESS1, TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE, SALES_STATUS
		FROM HOUSE
		WHERE AGENT_NO = #{agentNo}
		AND STATUS = 'Y'
		<if test="keyword != null">
			AND ${category} LIKE '%${keyword}%'
		</if>
		ORDER BY HOUSE_NO DESC
	</select>
	
	<!-- 매물 계약상태 변경용 -->
	<update id="updateSalesStatus" parameterType="hashmap">
		UPDATE HOUSE
		   SET SALES_STATUS = #{salesStatus}
		 WHERE HOUSE_NO = #{houseNo}
	</update>
	
	<!-- 관리비 전체 항목 불러오기 -->
	<select id="selectAllManage" resultMap="manageResultSet">
		SELECT *
		  FROM MANAGE
	</select>
	
	<!-- 옵션 전체 항목 불러오기 -->
	<select id="selectAllOption" resultMap="optionResultSet">
		SELECT *
		  FROM OPTIONS
	</select>
		
	<!-- 지하철역 정보 불러오기 -->
	<select id="selectStationList" parameterType="string" resultMap="subwayResultSet">
		SELECT SUBWAY_NO, STATION
		  FROM SUBWAY
		 WHERE LINE LIKE '%${line}%'
		 ORDER BY STATION ASC
	</select>
	
		
	<!-- 신규 매물 등록 -->
	<insert id="insertHouse" parameterType="house">
		INSERT INTO HOUSE(HOUSE_NO,
						  AGENT_NO,
						  TITLE,
						  DESCRIPTION,
						  THUMBNAIL,
						  SALES_TYPE,
						  ADDRESS1,
						  ADDRESS2,
						  ZIP_CODE,
						  BUILDING_TYPE,
						  BUILDING_FLOOR,
						  SUBWAY_NO,
						  DEPOSIT,
						  MONTHLY_COST,
						  MANAGE_COST,
						  FLOOR,
						  ROOM_TYPE,
						  ROOM_COUNT,
						  DIRECTION,
						  PARKING,
						  LAT,
						  LNG,
						  SIZE_M2,
						  SIZE_P,
						  PET,
						  LOAN,
						  MOVEIN_DATE,
						  MANAGE_INFO,
						  OPTION_INFO)
		VALUES(SEQ_HOU.NEXTVAL,
			   #{agentNo},
			   #{title},
			   #{description},
			   #{thumbnail},
			   #{salesType},
			   #{address1},
			   #{address2},
			   #{zipCode},
			   #{buildingType},
			   #{buildingFloor},
			   #{subwayNo},
			   #{deposit},
			   #{monthlyCost},
			   #{manageCost},
			   #{floor},
			   #{roomType},
			   #{roomCount},
			   #{direction},
			   #{parking},
			   #{lat},
			   #{lng},
			   #{size_m2},
			   #{size_p},
			   #{pet},
			   #{loan},
			   #{moveinDate},
			   #{manageInfo},
			   #{optionInfo})
	</insert>
		
	<!-- 방금 등록한 매물 정보 불러오기 -->
	<select id="selectNewestHouse" parameterType="_int" resultMap="houseResultSet">
		SELECT *
		  FROM (SELECT *
		        FROM HOUSE
		        WHERE AGENT_NO = #{agentNo}
		        ORDER BY HOUSE_NO DESC)
		 WHERE ROWNUM = 1
	</select>
	
	<!-- 방금 등록한 매물의 이미지 정보 저장 -->
	<insert id="insertHouseImg" parameterType="hashmap">
		INSERT ALL
		<foreach collection="imgList" item="img" separator=" ">
			INTO HOUSE_IMG (HOUSE_NO, IMG_PATH) VALUES (#{houseNo}, #{img})
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<!-- 매물 수정 페이지 정보 조회용 -->
	<select id="selectUpdateHouse" parameterType="_int" resultMap="houseResultSet">
		SELECT *
		  FROM HOUSE H, SUBWAY S
		 WHERE H.SUBWAY_NO = S.SUBWAY_NO
		   AND HOUSE_NO = #{houseNo};
	</select>
	
	<!-- 매물 수정 -->
	<update id="updateHouse" parameterType="house">
		UPDATE HOUSE
		   SET THUMBNAIL = #{thumbnail},
		   	   SALES_TYPE = #{salesType},
		   	   DEPOSIT = #{deposit},
		   	   MONTHLY_COST = #{monthlyCost},
		   	   LOAN = #{loan},
		   	   MANAGE_COST = #{manageCost},
		   	   MANAGE_INFO = #{manageInfo},
		   	   MOVEIN_DATE = #{moveinDate} ,
		   	   BUILDING_TYPE = #{buildingType},
		   	   SIZE_M2 = #{size_m2},
		   	   SIZE_P = #{size_p},
		   	   BUILDING_FLOOR = #{buildingFloor},
		   	   FLOOR = #{floor},
		   	   ROOM_TYPE = #{roomType},
		   	   ROOM_COUNT = #{roomCount},
		   	   DIRECTION = #{direction},
		   	   SUBWAY_NO = #{subwayNo},
		   	   PARKING = #{parking},
		   	   OPTION_INFO = #{optionInfo},
		   	   PET = #{pet},
		   	   TITLE = #{title},
		   	   DESCRIPTION = #{description}
		 WHERE HOUSE_NO = #{houseNo}
	</update>
	
	<!-- 매물 이미지 삭제 -->
	<delete id="deleteHouseImg" parameterType="list">
		DELETE FROM HOUSE_IMG
		 WHERE IMG_PATH IN
		 <foreach collection="removeList" item="img" open="(" close=")" separator=",">
		 	#{img}
		 </foreach>
	</delete>
	
	<!-- 매물 정보 삭제 -->
	<update id="deleteHouse" parameterType="_int">
		UPDATE HOUSE
		   SET STATUS = 'N'
		 WHERE HOUSE_NO = #{houseNo}
	</update>
	
	<!-- 업체회원 관련 SQL 끝 : 박민규 -->
	
	<!-- 지도 / 매물 조회용 -->
	<select id="houseList" resultMap="houseResultSet">
  		SELECT *      
		FROM HOUSE
		WHERE STATUS = 'Y'
		AND SALES_STATUS = 'Y'
	</select>
	
	<!-- 지도 / 매물 조회용 -->
	<select id="houseMapList" resultMap="houseResultSet">
  		SELECT *      
		FROM HOUSE
		WHERE STATUS = 'Y'
		AND SALES_STATUS = 'Y'
		ORDER BY HOUSE_NO DESC
	</select>
	
	<!-- 지도 / 매물 조회용 -->
	<select id="houseFilter" parameterType="hashmap" resultMap="houseResultSet">
  		SELECT *      
		FROM HOUSE
		WHERE STATUS = 'Y'
		AND SALES_STATUS = 'Y'
		<if test="salesType != null">
		AND SALES_TYPE IN
			<foreach item="type" collection="salesType" open="(" separator="," close=")">
				#{type}
			</foreach>
		</if>
		<if test="buildingType != null">	
		AND BUILDING_TYPE IN
			<foreach item="buildingType" collection="buildingType" open="(" separator="," close=")">
				#{buildingType}
			</foreach>
		</if>
		<if test="floor != null">
			AND FLOOR IN
			<foreach item="floor" collection="floor" open="(" separator="," close=")">
			<choose>
				<when test="floor == '옥탑' or floor == '반지하'">
					#{floor}
				</when>
				<otherwise>
					
					'1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15'
				</otherwise>
			</choose>
			</foreach>
		</if>
		<if test="roomType != null">	
		AND ROOM_TYPE IN
			<foreach item="roomType" collection="roomType" open="(" separator="," close=")">
				#{roomType}
			</foreach>			
		</if>
		<if test="address1 != null">
					AND ADDRESS1 LIKE '%${address1}%'
		</if>
		ORDER BY HOUSE_NO DESC 
  	</select>
  	
	<!-- 매물 상세 조회 : 개인 회원, 어드민 -->
	<select id="selectHouse" parameterType="_int" resultMap="houseResultSet">
		SELECT *
		FROM HOUSE H, AGENT A
		WHERE H.AGENT_NO = A.AGENT_NO
		  AND HOUSE_NO = #{houseNo}
	</select>
	
	<!-- 매물 상세 조회 조회수 증가 : 개인 회원 -->
	<update id="updateCount" parameterType="_int">
		UPDATE HOUSE
		SET VIEW_COUNT = VIEW_COUNT + 1
		WHERE HOUSE_NO = #{houseNo}
	</update>
	
	<!-- 매물 옵션 조회 : 개인 회원 -->
	<select id="selectOptionInfo" parameterType="_int" resultType="string">
		SELECT OPTION_NO
		FROM OPTION_INFO
		WHERE HOUSE_NO = #{houseNo}
	</select>
	
	<!-- 옵션명 조회 : 개인 회원 -->
	<select id="selectOptions" parameterType="list" resultType="string">
		SELECT OPTION_NAME
		FROM OPTIONS
		WHERE OPTION_NO IN 
		<foreach item="optionInfo" index="index" collection="list" open="(" close=")" separator=",">
			#{optionInfo}
		</foreach>
	</select>
	
	<!-- 매물 관리비 조회 : 개인 회원 -->
	<select id="selectManageInfo" parameterType="_int" resultType="string">
		SELECT MANAGE_NO
		FROM MANAGE_INFO
		WHERE HOUSE_NO = #{houseNo}
	</select>
	
	<!-- 관리비 항목 조회 : 개인 회원 -->
	<select id="selectManages" parameterType="list" resultType="string">
		SELECT MANAGE_NAME
		FROM MANAGE
		WHERE MANAGE_NO IN
		<foreach item="manageInfo" index="index" collection="list" open="(" close=")" separator=",">
			#{manageInfo}
		</foreach>
	</select>
	
	<!-- 매물 이미지 조회 : 개인 회원 -->
	<select id="selectHouseImages" parameterType="_int" resultType="string">
		SELECT IMG_PATH
		FROM HOUSE_IMG
		WHERE HOUSE_NO = #{houseNo}
	</select>
	
	<!-- 매물 찜 조회 : 개인 회원 -->
	<select id="selectZzim" parameterType="_int" resultType="_int">
		SELECT HOUSE_NO
		FROM ZZIM
		WHERE MEMBER_NO = #{memberNo}
		  AND HOUSE_NO = #{houseNo}
	</select>
	
	<!-- 매물 찜 추가 : 개인 회원 -->
	<insert id="insertZzim" parameterType="_int">
		INSERT INTO ZZIM
		VALUES (#{memberNo}, #{houseNo})
	</insert>
	
	<!-- 매물 찜 삭제 : 개인 회원 -->
	<delete id="deleteZzim" parameterType="_int">
		DELETE FROM ZZIM
		WHERE MEMBER_NO = #{memberNo}
		  AND HOUSE_NO = #{houseNo}
	</delete>
	
	<!-- 허위 매물 신고 추가 : 개인 회원 -->
	<update id="updateReportCount">
		UPDATE HOUSE
		   SET REPORT_COUNT = REPORT_COUNT + 1
		 WHERE HOUSE_NO = #{houseNo}
	</update>
	
	<!-- 허위 매물 신고 전체 조회 수 : 어드민 -->
	<select id="selectReportHouseCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		FROM HOUSE H, AGENT A
		WHERE REPORT_COUNT > 0
		  AND H.AGENT_NO = A.AGENT_NO
		<!-- 처리전(대기) -->
		<if test="classification == 'count'">
			AND REPORT_COUNT > 4
		</if>
		<!-- 키워드 검색 -->
		<if test="classification == 'keyword'">
			AND UPPER(AGENT_NAME) LIKE '%' || UPPER(#{keyword}) || '%'
		</if>
	</select>
	
	<!-- 허위 매물 신고 전체 조회  : 어드민-->
	<select id="selectReportHouse" parameterType="hashmap" resultMap="houseResultSet">
		SELECT *
		FROM HOUSE H, AGENT A
		WHERE REPORT_COUNT > 0
		  AND H.AGENT_NO = A.AGENT_NO
		<!-- 처리전(대기) -->
		<if test="classification == 'count'">
			AND REPORT_COUNT > 4
		</if>
		<!-- 키워드 검색 -->
		<if test="classification == 'keyword'">
			AND UPPER(AGENT_NAME) LIKE '%' || UPPER(#{keyword}) || '%'
		</if>
		ORDER BY HOUSE_NO DESC
	</select>
	
	<!-- 마이페이지 찜매물 조회 -->
	<select id="selectZzimList" parameterType="_int" resultMap="houseResultSet">
		SELECT H.HOUSE_NO, THUMBNAIL
		FROM HOUSE H , (SELECT HOUSE_NO
                FROM ZZIM
               WHERE MEMBER_NO = #{memberNo}) Z
		WHERE H.HOUSE_NO = Z.HOUSE_NO
	</select>
	
</mapper>