<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="houseMapper">

	<resultMap id="houseResultSet" type="house">
		<result column="HOUSE_NO" property="houseNo"/>
		<result column="AGENT_NO" property="agentNo"/>
		<result column="TITLE" property="title"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="THUMBNAIL" property="thumbnail"/>
		<result column="SALES_TYPE" property="salesType"/>
		<result column="ADDRESS1" property="address1"/>
		<result column="ADDRESS2" property="address2"/>
		<result column="ZIP_CODE" property="zipCode"/>
		<result column="BUILDING_TYPE" property="buildingType"/>
		<result column="BUILDING_FLOOR" property="buildingFloor"/>
		<result column="SUBWAY_NO" property="subwayNo"/>
		<result column="DEPOSIT" property="deposit"/>
		<result column="MONTHLY_COST" property="monthlyCost"/>
		<result column="MANAGE_COST" property="manageCost"/>
		<result column="FLOOR" property="floor"/>
		<result column="ROOM_TYPE" property="roomType"/>
		<result column="ROOM_COUNT" property="roomCount"/>
		<result column="DIRECTION" property="direction"/>
		<result column="PARKING" property="parking"/>
		<result column="LAT" property="lat"/>
		<result column="LNG" property="lng"/>
		<result column="SIZE_M2" property="size_m2"/>
		<result column="SIZE_P" property="size_p"/>
		<result column="PET" property="pet"/>
		<result column="LOAN" property="loan"/>
		<result column="MOVEIN_DATE" property="moveinDate"/>
		<result column="STATUS" property="status"/>
		<result column="REG_DATE" property="regDate"/>
		<result column="VIEW_COUNT" property="viewCount"/>
		<result column="REPORT_COUNT" property="reportCount"/>
		<result column="SALES_STATUS" property="salesStatus"/>
	</resultMap>
	
	<!-- 지도 / 매물 조회용 -->
	<select id="houseMapList" resultMap="houseResultSet">
  		SELECT HOUSE_NO, TITLE, THUMBNAIL, SALES_TYPE, ADDRESS1, ADDRESS2, BUILDING_TYPE
     		 , BUILDING_FLOOR, MONTHLY_COST, MANAGE_COST, FLOOR, ROOM_COUNT, LAT, LNG, DEPOSIT      
		FROM HOUSE
		WHERE STATUS = 'Y'
		AND SALES_STATUS = 'Y' 
  	</select>
	
	<!-- agent 내 매물 조회용 -->
	<select id="selectHouseList" parameterType="_int" resultMap="houseResultSet">
		SELECT *
		  FROM HOUSE
		 WHERE AGENT_NO = #{agentNo}
		   AND STATUS = 'Y'
		   <if test="keyword != null">
			AND ${category} LIKE '%${keyword}%'
		   </if>
	</select>
	
	<!-- 매물 계약상태 변경용 -->
	<update id="updateSalesStatus" parameterType="hashmap">
		UPDATE HOUSE
		   SET SALES_STATUS = #{salesStatus}
		 WHERE HOUSE_NO = #{houseNo}
	</update>

</mapper>