<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">

<resultMap id="reservationResultSet" type="reservation">
	<result column="RESERVATION_NO" property="reservationNo" />
	<result column="RESERVATION_DATE" property="reservationDate" />
	<result column="RESERVATION_TIME" property="reservationTime" />
	<result column="AGENT_NO" property="agentNo" />
	<result column="HOUSE_NO" property="houseNo" />
	<result column="RESULT" property="result" />
	<result column="DEPOSIT" property="deposit" />
	<result column="AGENT_NAME" property="agentName" />
	<result column="REVIEW_NO" property="reviewNo" />
</resultMap>

	<select id="selectListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
          FROM RESERVATION
          WHERE MEMBER_NO = #{memberNo}
	</select>
	
		<!-- 예약조회 -->
	<select id="selectList" parameterType="_int" resultMap="reservationResultSet">
		SELECT R.RESERVATION_NO, TO_CHAR(RESERVATION_DATE, 'YYYY-MM-DD') "RESERVATION_DATE", R.MEMBER_NO,
               R.RESERVATION_TIME, R.AGENT_NO, HOUSE_NO, RESULT, DEPOSIT, A.AGENT_NAME, NVL(RE.REVIEW_NO, 0) AS REVIEW_NO
		FROM RESERVATION R
        LEFT JOIN AGENT A ON (R.AGENT_NO = A.AGENT_NO)
        LEFT JOIN REVIEW RE ON (R.RESERVATION_NO = RE.RESERVATION_NO)
        WHERE R.MEMBER_NO = #{memberNo}
		ORDER BY RESERVATION_DATE DESC
	</select>
	
	<!-- 예약 상세조회 -->
	<select id="selectReservation" parameterType="_int" resultMap="reservationResultSet">
		SELECT RESERVATION_NO, TO_CHAR(RESERVATION_DATE, 'YYYY-MM-DD') "RESERVATION_DATE", CONTENT,
               RESERVATION_TIME, R.AGENT_NO, HOUSE_NO, RESULT, DEPOSIT, A.AGENT_NAME
		  FROM RESERVATION R, AGENT A
		 WHERE RESERVATION_NO = #{reservationNo}
		   AND R.AGENT_NO = A.AGENT_NO
	</select>

</mapper>
